#![enable(implicit_some)]
Container(
    transform: (
        id: "billboard_root",
        x: 0.,
        y: 0.,
        z: 0.,
        height: 280.,
        width: 500.,
        anchor: BottomLeft,
        pivot: BottomLeft,
    ),
    children: [
        Image(
            transform: (
                id: "billboard_bg",
                y: 10.,
                x: 0.,
                z: 0.,
                width: 500.,
                height: 280.,
                anchor: BottomLeft,
                pivot: BottomLeft,
            ),
            image: Texture(File("img/billboard.png", ("IMAGE", ()))),
        ),
        Image(
            transform: (
                id: "next_page",
                y: 6.,
                x: -20.,
                z: 2.,
                width: 32.,
                height: 32.,
                anchor: BottomRight,
                pivot: BottomRight,
                hidden: true
            ),
            image: Texture(File("img/icons.png", ("IMAGE", ()))),
        ),
        Label(
            transform: (
                id: "speaker_name",
                x: 20.,
                y: -30.,
                z: 1.,
                width: 460.,
                height: 30.,
                anchor: TopLeft,
                pivot: BottomLeft,
            ),
            text: (
                font: File("font/CC Accidenz Commons-medium.ttf", ("TTF", ())),
                font_size: 16.,
                color: (0.04, 0.14, 0.04, 1.),
                text: "",
                line_mode: Wrap,
                align: BottomLeft,
            )
        ),
        Label(
            transform: (
                id: "dialogue_text",
                x: 20.,
                y: 0.,
                z: 1.,
                width: 460.,
                height: 240.,
                anchor: BottomLeft,
                pivot: BottomLeft,
            ),
            text: (
                font: File("font/CC Accidenz Commons-medium.ttf", ("TTF", ())),
                font_size: 20.,
                color: (0.04, 0.14, 0.04, 1.),
                text: "",
                line_mode: Wrap,
                align: TopLeft,
            )
        ),
    ],
)